# Python системни файлове
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуални среди
venv/
env/
.venv/

# Конфиденциални данни (ВАЖНО)
.env
*.env

# Локални данни на проекта
uploads/
*.log
pip-log.txt

# Дистрибуция и билдове
dist/
build/
*.egg-info/